### Script to test randomizations

Importing the libraries required

In [21]:
import pandas as pd
import random
from collections import OrderedDict

df = pd.read_csv('data/T2_game_face_data.csv')

df.head()

,Treatment,TreatID,Credit_rating,Target,Race,Gender,Age,NumberofRaters,Female_prop,Male_prop,...,d0781c8e-3afb-4646-a9b4-aae25df3a878,44a04a3d-f584-4b04-876a-1cc0355bc4c0,bc432d2f-43a1-4689-9677-f966ab34db25,554f6cf7-20f1-4f65-b0b9-99cf186f5c8b,45309d4c-d0d3-405e-b78d-66f73d030ba7,ddfef11a-4fb7-4902-ac61-5ea4c467d071,b7fc5cb1-9144-4ed5-977e-10aef25db405,80295a59-fa52-4931-9e12-3da112aa1b5e,70d3a688-4e4a-484f-a914-d412e8d806f4,f63d7c49-ab2b-476d-bac1-7957045f4e36
0,T2,1,Very Good,AF-201,A,F,23.666667,27,1.000000,0.000000,...,1,1,2,2,2,1,3,2,2,2
1,T2,2,Poor,AF-205,A,F,26.592593,26,1.000000,0.000000,...,4,5,5,5,5,4,5,5,5,5
2,T2,3,Poor,AF-207,A,F,28.413793,28,1.000000,0.000000,...,4,5,5,5,5,4,5,5,5,5
3,T2,4,Poor,AF-211,A,F,22.500000,26,0.923077,0.076923,...,4,5,5,5,5,5,5,5,5,5
4,T2,5,Very Good,AF-212,A,F,23.857143,28,1.000000,0.000000,...,1,1,2,2,2,2,2,2,2,2

In [27]:
mainlist = pd.Series(df.Credit_rating.values,index=df.TreatID).to_dict(into=OrderedDict)

# mainlist

In [28]:
dftest_1 = pd.DataFrame()
dftest_2 =pd.DataFrame()

In [29]:
for i in range(1,11):
    test = random.sample(range(1,len(mainlist.keys())+1),len(mainlist.keys()))
    out = [mainlist[item] for item in test]
    dftest_1["col"+str(i)] = out

In [30]:
for i in range(1,11):
    test_n = random.sample(range(1,len(mainlist.keys())+1),len(mainlist.keys()))
    out_n = [mainlist[random.choice(test_n)] for x in range(1,len(test_n)+1)]
    dftest_2["col"+str(i)] = out_n

In [32]:
dftest_1.to_csv('test_1.csv')
dftest_2.to_csv('test_2.csv')